@media only screen and (max-width: 600px) {
  #header-logo {
    font-size: 30px !important;
  }
  #submit-instructions {
    font-size: medium;
  }
}

img {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg) !important;
  z-index: -9;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #89b0ae !important;
}

#header-logo {
  text-shadow: 1px 3px #555b6e;
  font-size: 72px;
  word-wrap: break-word;
}

#header-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.quote-container {
  display: flex;
  flex-direction: column;
  
}

.quote-textfield-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#quote-textfield:focus {
  
}

#circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-photo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-overlay {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#submitted-quote {
  position: absolute;
}

#quote-overlay {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #faf9f9;
  font-size: xx-large;
  font-weight: 800;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #89b0ae;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #faf9f9;;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
